@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply max-w-[1700px] mx-auto;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@layer components {
  .responsive {
    @apply px-6 sm:px-0 mt-6 sm:mt-8;
  }

  .dynamicPageHeading {
    @apply font-semibold text-xl sm:text-2xl;
  }

  .spacedHR {
    @apply my-6 sm:my-8;
  }

  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }

  .checkbox input:checked ~ span {
    background-color: red;
  }

  .checkbox span:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox input:checked ~ span:after {
    display: block;
  }
}
